@model AllAnimalsQueryModel

@{
    ViewData["Title"] = "View All Animals";
}

<form method="get">

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">
                    <label asp-for="NameFilter"></label>
                    <input asp-for="NameFilter" class="form-control" placeholder="Add Filter ...">
                </th>
                <th scope="col">
                    <label asp-for="BreedFilter"></label>
                    <select asp-for="BreedFilter" class="form-control" placeholder="Add Filter ...">
                        <option value="">All Breeds ...</option>
                        @foreach (var breed in Model.Breeds)
                        {
                            <option value="@breed">@breed</option>
                        }
                    </select>
                </th>
                <th scope="col">
                    <label asp-for="AgeFilter"></label>
                    <input asp-for="AgeFilter" class="form-control" placeholder="Add Filter ...">
                </th>
                <th scope="col">
                    <label asp-for="OwnerFilter"></label>
                    <input asp-for="OwnerFilter" class="form-control" placeholder="Add Filter ...">
                </th>
                <th scope="col">
                    <input class="btn btn-primary" type="submit" value="Apply Search Filters" />
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var animal in Model.Animals)
            {
                <tr>
                    @*<th scope="row">1</th>*@
                    <td>@animal.Name</td>
                    <td>@animal.BreedName</td>
                    <td>@animal.Age</td>
                    <td>@animal.Owner</td>
                    <td>
                        <a asp-controller="Animals" asp-action="Edit" asp-route-id="@animal.Id">Edit</a>
                        <a> | </a>
                        <a asp-controller="Animals" asp-action="Delete" asp-route-id="@animal.Id">Delete</a>
                        <a> | </a>
                        <a asp-controller="Animals" asp-action="Details" asp-route-id="@animal.Id">View Exams</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>



