@model AnimalViewModel

@{
    ViewData["Title"] = "Animal Details";
}

<form>
    <div class="form-group row">
        <label for="Name" class="col-sm-2 col-form-label">Name:</label>
        <a for="Name" class="col-sm-10 col-form-label">@Model.Name</a>
    </div>
    <div class="form-group row">
        <label for="Age" class="col-sm-2 col-form-label">DateOfBirth:</label>
        <a for="Age" class="col-sm-10 col-form-label">@Model.DateOfBirth</a>
    </div>
    <div class="form-group row">
        <label for="Age" class="col-sm-2 col-form-label">Age:</label>
        <a for="Age" class="col-sm-10 col-form-label">@Model.Age</a>
    </div>
    <div class="form-group row">
        <label for="Breed" class="col-sm-2 col-form-label">Breed:</label>
        <a for="Breed" class="col-sm-10 col-form-label">@Model.BreedName</a>
    </div>
    <br>
    <a class="btn btn-primary" asp-controller="Animals" asp-action="Edit" asp-route-id="@Model.Id">Edit animal</a>
    <a class="btn btn-primary" asp-controller="Animals" asp-action="Delete" asp-route-id="@Model.Id">Delete animal</a>
    <br>
    <br>
    <br>
    <label class="col-sm-2 col-form-label">Exams for this animal:</label>
    <div>
        @foreach (var exam in Model.Exams)
        {
            <div class="input-group m-1">
                <div class="input-group-prepend">
                    <span class="input-group-text">@exam.CreatedOn, @exam.DoctorName</span>
                </div>
                <output class="form-control" aria-label="With textarea">@exam.Description</output>
            </div>
        }
    </div>
    <br>
    <a class="btn btn-primary" asp-controller="Exams" asp-action="Add" asp-route-id="@Model.Id">Add new exam</a>
</form>
